<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105394540145-44qhejbrqcj4jhosicjiueqdgjkqc3k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105394540145-44qhejbrqcj4jhosicjiueqdgjkqc3k4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105394540145-2rpokgugh9v4s261s9njls9j5gbmavcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4rhvnoMw1855NejbC4vKBM2z3Tly3Gmg</string>
	<key>GCM_SENDER_ID</key>
	<string>105394540145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-dbccf</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-dbccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105394540145:ios:b1b214a64f9b0c43c795d0</string>
</dict>
</plist>